<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
  <groups>
  <define name="dailybuild">
  <include name="smoke"/>
  <include name="sanity"/>
  </define>
  <define name="weeklybuild">
  <include name="regression"/>
  <include name="functional"/>
  <include name="sanity"/>
  </define>
  <run>
  <include name="dailybuild"/>
  </run>
  </groups>
    <classes>
      <class name="GroupingTestNGOne.groupTestTwo"/>
      <class name="GroupingTestNGOne.groupTestThree"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
